@import 'src/assets/styles/colors', 'src/assets/styles/breakpoints';

.Wrapper {
  position: relative;
  display: inline-block;
}

.Popover {
  position: absolute;
  top: 100%;
  right: 0;

  height: max-content;

  background-color: $white;
  border: 0.1rem solid $black;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}
