@import "src/assets/styles/colors", "src/assets/styles/typography", "src/assets/styles/breakpoints";

.Wrapper {
  width: 100%;
  height: 40rem;
}

.Footer {
  @include media('max', 'sm') {
    padding: 0 1.2rem;
  }
}

.ImageWrapper {
  position: relative;

  &:hover {
    & > .Image {
      filter: brightness(75%);
    }

    & > .ImageActions {
      opacity: 1;
    }
  }
}

.Image {
  width: 100%;
  height: 25rem;
  object-fit: cover;

  will-change: filter;
  transition: filter 0.3s ease-in;
}

.ImageActions {
  position: absolute;
  top: 1rem;
  right: 1rem;

  width: max-content;
  height: max-content;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  opacity: 0;
  will-change: opacity;
  transition: opacity 0.3s ease-in;

  & > .ActiveFavorite {
    color: $red-40;

    &:hover {
      color: $red-50;
    }
  }

  & > svg {
    @include hoverColor($white, $gray-30);

    width: 4.4rem;
    height: 4.4rem;
    padding: 1rem;
  }
}

.Name {
  @include text1;

  margin-bottom: 1rem;
}

.Description {
  @include description;

  color: $gray-60;
  margin-bottom: 1rem;
}

.Price {
  @include text1;

  color: $gray-90;
  margin-bottom: 1rem;
}
